<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (device()) {
      <div>
        <h2 data-cy="deviceDetailsHeading"><span jhiTranslate="bokyoonApp.device.detail.title">Device</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ device()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.device.platform">Platform</span></dt>
          <dd>
            <span>{{ device()!.platform }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.device.brand">Brand</span></dt>
          <dd>
            <span>{{ device()!.brand }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.device.token">Token</span></dt>
          <dd>
            <span>{{ device()!.token }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.device.model">Model</span></dt>
          <dd>
            <span>{{ device()!.model }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.device.osVersion">Os Version</span></dt>
          <dd>
            <span>{{ device()!.osVersion }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.device.isActive">Is Active</span></dt>
          <dd>
            <span>{{ device()!.isActive }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.device.createdAt">Created At</span></dt>
          <dd>
            <span>{{ device()!.createdAt }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.device.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ device()!.updatedAt }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/device', device()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
