<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (transporter()) {
      <div>
        <h2 data-cy="transporterDetailsHeading"><span jhiTranslate="bokyoonApp.transporter.detail.title">Transporter</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ transporter()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.transporter.name">Name</span></dt>
          <dd>
            <span>{{ transporter()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.transporter.avatar">Avatar</span></dt>
          <dd>
            <span>{{ transporter()!.avatar }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.transporter.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ transporter()!.phoneNumber }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.transporter.isActive">Is Active</span></dt>
          <dd>
            <span>{{ transporter()!.isActive }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/transporter', transporter()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
