<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (reservation()) {
      <div>
        <h2 data-cy="reservationDetailsHeading"><span jhiTranslate="bokyoonApp.reservation.detail.title">Reservation</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ reservation()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.reservation.departureTimme">Departure Timme</span></dt>
          <dd>
            <span>{{ reservation()!.departureTimme }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.reservation.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'bokyoonApp.ReservationStatus.' + (reservation()!.status ?? 'null')">{{
              { null: '', PENDING: 'PENDING', CONFIRMED: 'CONFIRMED', CANCELED: 'CANCELED' }[reservation()!.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.reservation.reservationNumber">Reservation Number</span></dt>
          <dd>
            <span>{{ reservation()!.reservationNumber }}</span>
          </dd>
          <dt><span jhiTranslate="bokyoonApp.reservation.trip">Trip</span></dt>
          <dd>
            @if (reservation()!.trip) {
              <div>
                <a [routerLink]="['/trip', reservation()!.trip?.id, 'view']">{{ reservation()!.trip?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="bokyoonApp.reservation.seat">Seat</span></dt>
          <dd>
            @if (reservation()!.seat) {
              <div>
                <a [routerLink]="['/seat', reservation()!.seat?.id, 'view']">{{ reservation()!.seat?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/reservation', reservation()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
